body {
    position: relative;
    height: 100vh;
    margin: 0px;
}
main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}
body,
#sideBar,
#mainContent,
.flexCol {
    display: flex;
    flex-direction: column;
}
.flexRow {
    display: flex;
    flex-direction: row;
}
header {
    flex: 0 0 100px;
    background-color: teal;
}
#sideBar {
    flex: 0 0 300px;
    background-color: wheat;
}
#mainContent {
    flex: 1 0 auto;
    align-items: center;
}

#sideBarNavCont {
    background-color: yellow;
}
#projCont {
    background-color: yellowgreen;
}
h4.flexCol {
    margin: 15px 0px 0px;
}
.projList {
    background-color: teal;
}
.projItem {
    display: flex;
    align-items: center;
    background-color: thistle;
    height: 26px;
}
.projItem li,
.projItem h4{
    flex: 1 0 auto;
}
.projItem i{
    margin: 5px;
}
.projItem i:hover {
    background-color: white;
}
.noMarker {
    list-style-type: none;
}
.addProjLI:hover {
    color: white;
}
form {
    display: flex;   
}
button {
    padding: 0px;
}
.fa-save{
    font-size: 16px;
}

/* Main Content */
.taskHeader,
.taskList {
    width: 100%;
    max-width: 600px;
}
.strike {
    text-decoration: line-through;
}
hr {
    width: 100%;
}
.taskItem {
    background-color: oldlace;
}
.taskLI {
    align-items: center;
    background-color: tomato;
}
.taskLI li,
.taskCont {
    flex: 1 0 auto;
}
.taskLI i {
    margin: 5px;
}
.descPrev {
    font-size: 14px;
    color: grey;
}
.taskDate {
    margin-left: 5px;
}
.clearButton {
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    border: 0;
    margin: 5px;
    color: black;
}
.taskItemLeft {
    width: 26px;
    text-align: center;
}
#addText {
    margin: 0px;
}
#addTask:hover {
    color: red;
}
.taskButtonCont {
}
.taskButton {
    align-items: center;
    padding: 2.5px 2.5px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    background-color: white;
}
.taskButton > * {
    margin: 2.5px 2.5px;
}
.projSelCont {
    cursor: pointer;
}
.dropdown {
    position: relative;
    cursor: pointer;
}
.dropdown:last-child {
    margin-left: auto;
}
.dropdown-menu {
    position: absolute;
    left: 5px;
    top: 100%;
    background-color: white;
    padding: .25rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.dropdown.active > .taskButton + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.dropdown-item
{
    align-items: center;
    padding: 2.5px 2.5px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px;
    background-color: white;
    
}
.dropdown-item:hover {
    background-color: rgb(0, 183, 255);
}
.dropdown-item > * {
    margin: 0px 5px;
}
.priSelCont {
    border: none;
}
.dropdown-item-text {
    width: max-content;
}
#taskDate {
    padding: 0px;
}
.dateInput {
    border: none;
}

.saveButton {
}
.cancelButton {
    
}
.fa-circle,
.fa-check-circle {
    font-size: 1.2em;
    padding: 3px;
    border-radius: 5px;
}

footer {
    flex: 0 0 2rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 100%;
    min-width: 300px;
    background-color: violet;
}

footer input {
    display: inline;
    height: 20px;
    transition: transform 1s;
}
  
footer input:hover {
    transform: scale(3) translate(0, -5px);
}